{% extends 'base.html' %}
{% block title %}História - Jaraguá do Sul{% endblock %}

{% block content %}
<h2 class="centralizado">História</h2>
<p class="centralizado">
    Jaraguá do Sul, em Santa Catarina, teve sua colonização iniciada por imigrantes alemães e poloneses no século XIX, em terras antes habitadas pelos povos indígenas Xokleng. Seu nome vem do tupi e significa “rio dos papagaios”.
    A cidade se desenvolveu inicialmente com a agricultura e criação de animais, e ao longo do século XX se tornou um polo industrial, destacando-se especialmente nas áreas têxtil, metalúrgica e de móveis. Hoje, Jaraguá do Sul combina tradição cultural europeia, como festas típicas e gastronomia, com uma economia moderna e diversificada.
</p>
{% endblock %}
