body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: black;
}

header {
    background-color: #004466;
    color: white;
    padding: 15px;
    text-align: center;
}

header nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

footer {
    background-color: #004466;
    color: white;
    text-align: center;
    padding: 10px;
    position: flex;
    width: 100%;
    bottom: 0;
}

.titulo-centralizado {
    text-align: center;
    font-weight: bold;
}

.texto-justificado {
    text-align: justify;
    padding-left: 80px;
    padding-right: 80px;
}

.padrao-img {
    max-width: 50%;
    max-height: auto;
    width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
}

.topico {
    font-weight: bold;
    color: black;
}

.topico-texto {
    text-align: left;
    padding-left: 30px;
}

.nav-link {
    display: inline-block;
    text-decoration: none;
    transition: all 0.3s ease;
}

.mouse-sob-link {
    transform: scale(1.2);
}

.letra-titulo {
    display: inline-block;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    cursor: default;
    transform-origin: center bottom; /* Faz a escala animar da base */
}

.espaco {
    display: inline-block;
    width: 0.3em;
}

/* Opcional: Adicionar um leve efeito de profundidade */
.letra-titulo:hover {
    transform: scale(1.8);
    z-index: 10;
    position: relative;
}


html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; /* empurra o footer pro fim */
}
